.venv
.vscode
data
logs
artifacts
datamodules/__pycache__
datasets/__pycache__
networks/__pycache__
trainers/__pycache__
utils/__pycache__
wandb
networks/.ipynb_checkpoints/factory-checkpoint.py
networks/.ipynb_checkpoints/foldingNet-checkpoint.py
networks/.ipynb_checkpoints/pointnet-checkpoint.py
trainers/.ipynb_checkpoints/classification_trainer-checkpoint.py
datamodules/.ipynb_checkpoints/classification_datamodule-checkpoint.py
cfg/net/.ipynb_checkpoints/pointnetmink-checkpoint.yaml
cfg/net/.ipynb_checkpoints/reconstruction-checkpoint.yaml
cfg/optimizers/.ipynb_checkpoints/adamw-checkpoint.yaml
cfg/optimizers/.ipynb_checkpoints/sgd-checkpoint.yaml
.python-version
launch0.sh
launch1.sh
launch2.sh
launch3.sh
tsne
